[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pre-commit = "*"
flake8 = "*"
mccabe = "*"
pytest-bdd = "*"

[packages]
click = "*"
garminexport = {editable = true,git = "https://github.com/petergardfjall/garminexport.git"}
fs = "*"
fitdecode = "*"
geopandas = "*"
shapely = "*"

[requires]
python_version = "3.7"
